[submodule "frontend"]
	path = frontend
	url = https://github.com/cheshta1004/Increff-Pos-Frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/cheshta1004/Increff-Pos-Backend.git
